# Dependencies
node_modules/

# Environment variables
.env
*.env

# Session data
data/sessions/

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
